.page{
	background-color: #6666cc;
	background-size:cover;
	padding:15px;
}
.color{
	background-color:#99ccff;
}
.title{
	color:#604020;
	font-size:35px;
	padding:10px;
	font-family:italic;
}
.details{
	color:#e6e6e6;
	font-size:20px;
	font-family:sans-serif;
}



.first-row{
	color: black;
    background-color: lightyellow;

}


table,th,td,tr{
	border-style: solid;
	border-collapse:collapse;
}

